{% extends "index.html" %}
{% block title %} About SFB{% endblock title %}
{% block body %}

<h1 class="d-flex justify-content-center my-3">About Spark Foundation Bank</h1>
<p class="para mx-5 my-5 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero repellat aliquid sit porro, hic ea accusantium animi
    deleniti nesciunt! Doloribus, vitae porro dolorum earum ipsum voluptas placeat quis esse accusantium nihil similique
    vel quidem sequi, quod, nesciunt distinctio ex facere vero veritatis. Impedit, eius. Suscipit expedita nostrum ab
    voluptatibus! Quisquam ea nobis, incidunt dignissimos ipsa unde laudantium quo, doloremque temporibus consequatur
    reiciendis itaque accusamus impedit omnis, dolor quod beatae illum maxime deserunt delectus accusantium. Ducimus
    recusandae vitae dolor et voluptatum delectus quasi beatae voluptate, in officiis, cumque incidunt aut omnis? Fugit
    unde nostrum cumque odio vero maiores excepturi similique debitis iure molestiae nisi culpa officia rem incidunt
    illo, animi nihil voluptatibus illum recusandae sequi corporis sunt facere eveniet. Doloribus ab dolorem maxime
    recusandae, accusantium iure nesciunt architecto perferendis aperiam delectus quos, repudiandae quibusdam
    perspiciatis est blanditiis sunt laboriosam. Sit dolorum quo maiores recusandae at modi similique, nostrum, ad ex
    impedit nam id? Perferendis consequuntur laborum qui nulla doloribus, iste maiores a, nostrum saepe magnam non hic
    eligendi incidunt aperiam enim voluptate modi perspiciatis, autem soluta unde maxime ratione quaerat tenetur
    recusandae!

    Accusantium voluptas harum, aspernatur illo distinctio ullam ad iste dicta hic fugit dolorem asperiores aliquid
    neque repudiandae deleniti, expedita a repellendus dolor ipsa eaque ea culpa. Similique explicabo neque sed dolor
    necessitatibus deleniti, recusandae distinctio doloremque. Soluta odit sint sit tempora, beatae corrupti explicabo
    quidem laudantium laboriosam, possimus distinctio ipsum corporis qui eligendi modi, earum tempore harum! Itaque sed
    quisquam incidunt porro deleniti assumenda doloremque sint voluptatem omnis, ut illo tempora ratione non enim
    architecto dicta dignissimos atque mollitia. In, magnam numquam autem at enim veritatis suscipit nostrum eius illo
    aut, recusandae veniam, voluptate minima consequatur! Vero aut esse mollitia laudantium praesentium est nisi
    recusandae iure porro quo minus possimus ratione dolor fugit laboriosam accusantium doloremque voluptatum soluta,
    facere saepe aperiam ex aspernatur necessitatibus? Facilis sed iste necessitatibus tempora fuga aut officia saepe
    omnis cum excepturi cumque obcaecati fugit eveniet dolore ex voluptatibus consequuntur earum laborum odit tempore ad
    unde, voluptatem perferendis. Itaque cum error vitae, laudantium architecto ab iste temporibus.
</p>


{% endblock body %}