{% extends "index.html" %}
{% block title %} About SFB{% endblock title %}
{% block body %}

<h1 class="d-flex justify-content-center my-3">About Spark Foundation Bank</h1>
<p class="para mx-5 my-5 text-center">
<p class="para mx-5 my-5 text-center">
    This application is made by <span class="fw-bold"> Aakash Garg </span>. I am a web developer intern at Spark
    Foundation. According to the guidelines, I have built a Basic Banking Web app using Flask as a framework, SQLite3 as
    a database and Bootstrap as UI framework.
</p>

<p class="para mx-5 my-5 text-center">
    According to the given question, The flow of the web app is Home Page > View all Customers > Select and View one
    Customer > Transfer Money > Select Customer to transfer to > View all Customers. Apart from given question, I have
    add a new feature to my application i.e. Transaction History. User can see all the transaction of the Bank as well
    as there own personal transactions. Few user are already added in the application with some transaction in the
    database.
</p>
</p>


<div class="social-media-div d-flex justify-content-center">
    <p>Connect With me :- </p>
    <a href="https://github.com/AakashGarg54" class="icon-button github" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i><span></span></a>
    <a href="https://www.linkedin.com/in/aakash-garg-a19083144/" class="icon-button linkedin" target="_blank"
        rel="noopener noreferrer">
        <i class="fab fa-linkedin-in"></i><span></span></a><a href="mailto:aakashgarg5518@gmail.com"
        class="icon-button google" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-google"></i><span></span></a><a href="https://www.instagram.com/aakash_garg54/"
        class="icon-button instagram" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-instagram"></i><span></span></a><a
        href="https://wa.me/+919255936002?text=Hey%20there,%20I%20want%20to%20build%20my%20Website."
        class="icon-button whatsapp" target="_blank" rel="noopener noreferrer"><i
            class="fab fa-whatsapp"></i><span></span></a>
</div>
{% endblock body %}